@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors are defined in globals.css instead of Tailwind config */
  /* This allows for color transitions by adjusting the --theme-color variables instead of adjusting the DOM */

  --black: #171717;

  --ube-100: #f1f1f7;
  --ube-300: #b7b7d7;
  --ube-500: #8989B0;
  --ube-700: #24244a;
  --ube-900: #0f0f25;

  --raspberry-100: #f7f1f7;
  --raspberry-300: #d7b7d7;
  --raspberry-500: #b089b0;
  --raspberry-700: #4a244a;
  --raspberry-900: #250f25;

  --strawberry-100: #f7f1f1;
  --strawberry-300: #d7b7b7;
  --strawberry-500: #b08989;
  --strawberry-700: #4a2424;
  --strawberry-900: #250f0f;

  --lemon-100: #f7f7f1;
  --lemon-300: #d7d7b7;
  --lemon-500: #b0b089;
  --lemon-700: #4a4a24;
  --lemon-900: #25250f;

  --lime-100: #f1f7f1;
  --lime-300: #b7d7b7;
  --lime-500: #89b089;
  --lime-700: #244a24;
  --lime-900: #0f250f;

  --mint-100: #f1f7f7;
  --mint-300: #b7d7d7;
  --mint-500: #89b0b0;
  --mint-700: #244a4a;
  --mint-900: #0f2525;

  /* Initial default is ube */
  --theme-color-100: var(--ube-100);
  --theme-color-300: var(--ube-300);
  --theme-color-500: var(--ube-500);
  --theme-color-700: var(--ube-700);
  --theme-color-900: var(--ube-900);
}

@layer utilities {
  [data-animation-play-state="paused"] {
    animation-play-state: paused;
  }
}

.logo-desktop_svg__g1 {
  animation-delay: -2.75s;
}

.logo-desktop_svg__g2 {
  animation-delay: -2.50s;
}

.logo-desktop_svg__g3 {
  animation-delay: -2.25s;
}

.logo-desktop_svg__g4 {
  animation-delay: -2.00s;
}

.logo-desktop_svg__g5 {
  animation-delay: -1.75s;
}

.logo-desktop_svg__g6 {
  animation-delay: -1.50s;
}

.logo-desktop_svg__g7 {
  animation-delay: -1.25s;
}

.logo-desktop_svg__g8 {
  animation-delay: -1.00s;
}

.logo-desktop_svg__g9 {
  animation-delay: -0.75s;
}

.logo-desktop_svg__g10 {
  animation-delay: -0.5s;
}

.logo-desktop_svg__g11 {
  animation-delay: -0.25s;
}

.logo-desktop_svg__g12 {
  animation-delay: 0s;
}

.logo-mobile_svg__g1 {
  animation-delay: -1.25s;
}

.logo-mobile_svg__g2 {
  animation-delay: -1.00s;
}

.logo-mobile_svg__g3 {
  animation-delay: -0.75s;
}

.logo-mobile_svg__g4 {
  animation-delay: -0.50s;
}

.logo-mobile_svg__g5 {
  animation-delay: -0.25s;
}

.logo-mobile_svg__g6 {
  animation-delay: -1.50s;
}

.logo-mobile_svg__g7 {
  animation-delay: -1.25s;
}

.logo-mobile_svg__g8 {
  animation-delay: -1.00s;
}

.logo-mobile_svg__g9 {
  animation-delay: -0.75s;
}

.logo-mobile_svg__g10 {
  animation-delay: -0.5s;
}

.logo-mobile_svg__g11 {
  animation-delay: -0.25s;
}

.logo-mobile_svg__g12 {
  animation-delay: 0s;
}