@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --black: #171717;

  --slate: #94a3b8;
  --slate-light: #f1f5f9;
  --slate-dark: #0f172a;

  --ube: #8989B0;
  --ube-light:#f1f1f7;
  --ube-dark:#3c3c62;

  --strawberry: #b08989;
  --strawberry-light:#f7f1f1;
  --strawberry-dark:#623c3c;

  --lemon: #b0b089;
  --lemon-light:#f7f7f1;
  --lemon-dark:#62623c;

  --mint: #89b0b0;
  --mint-light:#f1f7f7;
  --mint-dark:#3c6262;

  /* Initial default is ube */
  --theme-color:var(--ube);
  --theme-color-light:var(--ube-light);
  --theme-color-dark:var(--ube-dark);
}

@media (prefers-color-scheme: dark) {}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  background: var(--theme-color);
  transition: background-color 400ms linear;
}

.border-light {
  border-color: var(--theme-color-light);
}

.bg-light {
  background-color: var(--theme-color-light);
  /* transition: background-color 400ms linear; */
}

.fill-light {
  fill: var(--theme-color-light);
}

.text-light {
  color: var(--theme-color-light);
}

.border-dark {
  border-color: var(--theme-color-dark);
}

.bg-dark {
  background-color: var(--theme-color-dark);
}

.fill-dark {
  fill: var(--theme-color-dark);
}

.text-dark {
  color: var(--theme-color-dark);
}

@keyframes bg-scroll-animation {
  0% {
    background-position: 250px -150px;
  }

  100% {
    background-position: 0 0;
  }
}

[data-bg-color-value] {
  -webkit-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
}

.scrolling-bg {
  border-width: 1em;
  animation: bg-scroll-animation 12s linear infinite;
  background-image:
    linear-gradient(135deg, var(--black) 25%, transparent 25%),
    linear-gradient(45deg, var(--black) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--black) 75%),
    linear-gradient(135deg, transparent 75%, var(--black) 75%);
  background-size: 50px 50px;
}

@keyframes text-wave-desktop {

  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
}

.logo-desktop svg {
  width: 75vw;
}

.logo-desktop_svg__letter {
  animation: text-wave-desktop 3s ease-in-out infinite;
}

.logo-desktop_svg__g1 {
  animation-delay: -2.75s;
}

.logo-desktop_svg__g2 {
  animation-delay: -2.50s;
}

.logo-desktop_svg__g3 {
  animation-delay: -2.25s;
}

.logo-desktop_svg__g4 {
  animation-delay: -2.00s;
}

.logo-desktop_svg__g5 {
  animation-delay: -1.75s;
}

.logo-desktop_svg__g6 {
  animation-delay: -1.50s;
}

.logo-desktop_svg__g7 {
  animation-delay: -1.25s;
}

.logo-desktop_svg__g8 {
  animation-delay: -1.00s;
}

.logo-desktop_svg__g9 {
  animation-delay: -0.75s;
}

.logo-desktop_svg__g10 {
  animation-delay: -0.5s;
}

.logo-desktop_svg__g11 {
  animation-delay: -0.25s;
}

.logo-desktop_svg__g12 {
  animation-delay: 0s;
}

@keyframes text-wave-mobile {

  0%,
  100% {
    transform: translatey(-3px);
  }

  50% {
    transform: translateY(3px);
  }
}

.logo-mobile svg {
  width: 80vw;
}

.logo-mobile_svg__letter {
  animation: text-wave-mobile 3s ease-in-out infinite;
}

.logo-mobile_svg__g1 {
  animation-delay: -1.25s;
}

.logo-mobile_svg__g2 {
  animation-delay: -1.00s;
}

.logo-mobile_svg__g3 {
  animation-delay: -0.75s;
}

.logo-mobile_svg__g4 {
  animation-delay: -0.50s;
}

.logo-mobile_svg__g5 {
  animation-delay: -0.25s;
}

.logo-mobile_svg__g6 {
  animation-delay: -1.50s;
}

.logo-mobile_svg__g7 {
  animation-delay: -1.25s;
}

.logo-mobile_svg__g8 {
  animation-delay: -1.00s;
}

.logo-mobile_svg__g9 {
  animation-delay: -0.75s;
}

.logo-mobile_svg__g10 {
  animation-delay: -0.5s;
}

.logo-mobile_svg__g11 {
  animation-delay: -0.25s;
}

.logo-mobile_svg__g12 {
  animation-delay: 0s;
}

[data-animation-play-state="running"] {
  animation-play-state: running;
}

[data-animation-play-state="paused"] {
  animation-play-state: paused;
}

[data-modal-active="open"] {
  transform: translateY(calc(-50vh - 50%));
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(110%)
  }

  50% {
    transform: scale(110%);
  }
}